<div class="container px-5 px-sm-0">
  <div class="row">
  
   <div class="col-md-3">
      <%= render 'users/info', user: @user %> 
      <%= render 'books/form', book: @book %>
    </div>

    <div class="col-md-8 offset-md-1">
      <h2 class="mb-4 border-bottom pb-2">Books</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Title</th>
            <th>Opinion</th>
          </tr>
        </thead>
        <tbody>
          <% @books.each do |book| %>
            <tr>
              <td><%= link_to book.title, book_path(book), class: "text-decoration-none" %></td>
              <td><%= book.body %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
