<div class="container text-center mt-5">
  <div class="row">
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
      <h1>Welcome to <i class="fas fa-book"></i><strong>Bookers</strong> !</h1>
  <p>Bookersγ―γ€θ­γ‚“γ ζ¬γ®ζ„ζƒ³γ‚„γγ™γ™γ‚γ‚’ε…±ζ‰γ§γγ‚‹γ‚Άγƒ—γƒγ§γ™π“</p>
</div>